MyData/Follow.json
MyData/Identifiers.json
MyData/Identity.json
MyData/Inferences.json
MyData/Payments.json
MyData/Playlist1.json
MyData/SearchQueries.json
MyData/Userdata.json
MyData/YourLibrary.json